---
import ValuationHero from "../../assets/images/valuation-hero.webp";
import SectionLabel from "../General/Text/SectionLabel";
import SectionHeader from "../General/Text/SectionHeader";
import Copy from "../General/Text/Copy";
import InstantValuationButton from "../Form/InstantValuation/Button";
import ExpertValuationButton from "../Form/ExpertValuation/Button";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section
  class="relative flex flex-col justify-center gap-6 bg-secondary-100 pb-10 lg:aspect-[12/5] lg:pb-0"
>
  <img
    loading="lazy"
    class="right-0 top-0 mx-auto aspect-[6/5] h-auto w-full object-cover object-left lg:absolute lg:order-1 lg:w-[50vw]"
    src={ValuationHero.src}
    alt=""
  />
  <div class="mx-auto w-full max-w-container-lg">
    <div class="flex flex-1 flex-col lg:justify-center">
      <SectionLabel padding="hero-md">Valuation</SectionLabel>
      <SectionHeader padding="hero"
        ><>{title}<br />Find out how much it’s worth</>
      </SectionHeader>
      <slot />
      <div class="flex flex-col gap-3 md:flex-row">
        <InstantValuationButton client:visible size="lg">
          Instant Valuation
        </InstantValuationButton>
        <ExpertValuationButton client:visible size="lg" variant="white">
          Expert Valuation
        </ExpertValuationButton>
      </div>
    </div>
  </div>
</section>
