---
import EarlyBirdButton from "../components/Form/EarlyBird/Button";
import MakeAnOfferButton from "../components/Form/MakeAnOffer/Button";
import GetInTouchButton from "../components/Form/GetInTouch/Button";
import StandardLayout from "../layouts/StandardLayout.astro";
import BookAViewingButton from "../components/Form/BookAViewing/Button";
import ExpertValuationButton from "../components/Form/ExpertValuation/Button";
import InstantValuationButton from "../components/Form/InstantValuation/Button";
import MiscSection from "../components/Layout/MiscSection.astro";
---

<StandardLayout title="Form Test">
  <MiscSection>
    <div
      class="mx-auto grid gap-4 bg-secondary-100 md:w-max md:grid-cols-2 lg:grid-cols-3"
    >
      <EarlyBirdButton variant="secondary" client:load
        >Early bird</EarlyBirdButton
      >
      <MakeAnOfferButton
        variant="white"
        address={"123 Test Street, Example Area"}
        client:load>Make an offer</MakeAnOfferButton
      >
      <GetInTouchButton variant="transparent-blue" client:load
        >Get in touch</GetInTouchButton
      >
      <BookAViewingButton
        variant="transparent-white"
        price="£475,000"
        address="Meadow Court, Ravenstone, MK46"
        client:load>Book a viewing</BookAViewingButton
      >
      <ExpertValuationButton client:load>Expert valuation</ExpertValuationButton
      >
      <InstantValuationButton client:load
        >Instant valuation</InstantValuationButton
      >
    </div>
  </MiscSection>
</StandardLayout>
