---
import Link from "../components/General/Link";
import Layout from "../layouts/HomeLayout.astro";
import HomeHeader from "../components/Header/HomeHeader";
import Banner from "../components/Home/Banner/Banner";
import PropertySearchBar from "../components/General/PropertySearchBar";
import Home1 from "../assets/images/home/home_1.webp";
import FirstTime from "../assets/images/home/first-time.webp";
import SectionLabel from "../components/General/Text/SectionLabel";
import SectionHeader from "../components/General/Text/SectionHeader";
import Copy from "../components/General/Text/Copy";
import HowCanWeHelp from "../components/Home/HowCanWeHelp";
import Video from "../components/General/Video";
import RecentlySoldLet from "../components/Property/RecentlySoldLet";
import Thumbnail from "../assets/images/home/thumbnail.webp";
import BrochureForm from "../components/Form/BrochureForm";
import Reviews from "../components/Reviews/Reviews";
import FAQs from "../components/FAQs/FAQs";
import Display from "../components/General/Text/Display";
import type { Property2 } from "../env";
import MiscSection from "../components/Layout/MiscSection.astro";
import HeroSection from "../components/Layout/HeroSection.astro";

const res = await fetch("https://jacobs-server.onrender.com/properties");
const properties: Property2[] = await res.json();
const salesProperties = properties.filter((p) => p.type === "selling");
const lettingsProperties = properties.filter((p) => p.type === "letting");

console.log(properties.length, salesProperties.length, lettingsProperties);
---

<Layout
  title="Jacobs Properties: The people’s estate agent in Basingstoke"
  description="At Jacobs Properties, we put people before property. Whether you’re looking to sell, let, rent or buy a property, our reliable team of estate agents drive results and provide solutions for your property needs. "
>
  <HomeHeader client:load />
  <main>
    <Banner client:load />
    <MiscSection
      bgColor="bg-primary-200"
      className="flex flex-col gap-8 text-center items-center lg:gap-16"
    >
      <Display>Your property search starts here.</Display>
      <PropertySearchBar client:visible />
    </MiscSection>

    <HeroSection
      image={{
        path: Home1.src,
        aspectRatio: "aspect-property",
        alt: "",
        position: true,
      }}
    >
      <div class="flex flex-col md:max-w-xl md:justify-center">
        <SectionLabel padding="hero-md">About</SectionLabel>
        <SectionHeader padding="hero"
          >We’re about people, not just property</SectionHeader
        >
        <Copy size="md" className="lg:pb-7"
          >Meet Team Jacobs. We’re a friendly bunch of property experts who put
          people first. Since 1999, we’ve been helping the people of Basingstoke
          get on the property ladder, find their forever home, sell up and move
          on, downsize, upsize, rightsize – whatever your property needs, we’ve
          got your back.</Copy
        >
        <Link
          className="hidden lg:flex"
          link="/meet-the-team"
          type="secondary"
          size="lg">Meet the Team</Link
        >
      </div>
    </HeroSection>

    <MiscSection bgColor="bg-primary-200">
      <HowCanWeHelp client:idle />
    </MiscSection>

    <!-- <MiscSection>
      <SectionHeader padding="misc" className="max-w-[17rem] sm:max-w-none"
        >Let's put some faces to our names</SectionHeader
      >
      <Video
        videoId="dQw4w9WgXcQ"
        thumbnailPath={Thumbnail.src}
        origin={Astro.url}
        client:visible
      />
    </MiscSection> -->

    <!-- <ValuationSection /> -->

    <MiscSection>
      <RecentlySoldLet {...{salesProperties, lettingsProperties}} client:idle />
    </MiscSection>

    <HeroSection
      bgColor="bg-primary-200"
      image={{
        path: FirstTime.src,
        aspectRatio: "aspect-hero",
        alt: "",
        position: true,
      }}
    >
      <div class="flex flex-col lg:max-w-xl lg:justify-center">
        <SectionLabel className="pb-3">Sales Brochure</SectionLabel>
        <SectionHeader className="pb-4"
          >First time selling a property?</SectionHeader
        >
        <Copy className="pb-5 max-w-md" size="md"
          >We understand how daunting it can be. That's why we've compiled a
          FREE guide of pro tips to help make your experience as stress-free as
          possible.</Copy
        >
        <BrochureForm client:visible />
      </div>
    </HeroSection>

    <MiscSection>
      <SectionHeader className="lg:text-center" padding="misc"
        >Hear from our customers</SectionHeader
      >
      <Reviews client:visible />
    </MiscSection>

    <MiscSection bgColor="bg-primary-200">
      <SectionHeader className="lg:text-center" padding="misc"
        >Frequently asked questions</SectionHeader
      >
      <div class="flex w-full flex-col gap-8 lg:items-center lg:gap-16">
        <FAQs maxFAQs={5} client={"buyers"} client:visible />
        <a
          class="text-xs font-semibold uppercase tracking-[1.2px] text-primary-100 underline decoration-secondary-100 decoration-2 underline-offset-4 lg:text-center lg:text-[0.875rem] lg:underline-offset-8"
          href="/faq">See All Our Faqs</a
        >
      </div>
    </MiscSection>
  </main>
</Layout>
