---
import LogoBlue from "../../assets/images/logo_blue.svg";
import Link from "../General/Link";
import MenuBtn from "./MenuBtn";
import clsx from "clsx";
import ContactBtn from "./ContactBtn";
---

<header
  class={clsx(
    "sticky top-0 z-40 flex w-full flex-col items-center leading-[1.1] duration-100 bg-white text-primary-100"
  )}
>
  <a
    id="header-target"
    href="/"
    class="flex h-12 w-full items-center justify-center bg-secondary-100 duration-100 md:hidden"
  >
    <p
      class="text-[0.875rem] font-semibold uppercase tracking-[1.4px] text-primary-100"
    >
      Book a Valuation
    </p>
  </a>

  <div
    class="flex h-[5.625rem] w-full max-w-container-lg items-center justify-between text-xs font-semibold uppercase lg:h-[7.75rem]"
  >
    <a class={clsx("flex items-center self-end pb-2")} href="/">
      <img
        class={clsx("h-auto w-[9rem] lg:w-[12rem]")}
        src={LogoBlue}
        alt="Jacobs Properties Logo"
      />
    </a>
    <div class="flex items-center gap-6 2xl:gap-md">
      <nav class="hidden xl:block">
        <ul
          class="flex items-center gap-6 text-[0.875rem] font-semibold tracking-[1.4px] 2xl:gap-md"
        >
          <li class="hover:text-secondary-100">
            <a class="rounded-big py-3 leading-[1.1] duration-100" href="">
              Buyers
            </a>
          </li>
          <li class="hover:text-secondary-100">
            <a class="rounded-big py-3 leading-[1.1] duration-100" href="">
              Sellers
            </a>
          </li>
          <li class="hover:text-secondary-100">
            <a class="rounded-big py-3 leading-[1.1] duration-100" href="">
              Landlords
            </a>
          </li>
          <li class="hover:text-secondary-100">
            <a class="rounded-big py-3 leading-[1.1] duration-100" href="">
              Tenants
            </a>
          </li>
        </ul>
      </nav>
      <div class="hidden items-center gap-4 md:flex">
        <Link
          link="/"
          text="Property Search"
          type="transparent-blue"
          size="lg"
        />
        <Link link="/" text="Book a valuation" type="secondary" size="lg" />
      </div>
      <div class={clsx("flex items-center gap-6 text-primary-100")}>
        <ContactBtn />
        <MenuBtn client:idle color="primary-100" />
      </div>
    </div>
  </div>
</header>

<script>
  const header = document.getElementById("header-target");
  document.addEventListener("scroll", function () {
    let scrollPos = window.pageYOffset;
    if (scrollPos > 100) {
      header!.classList.remove("flex");
      header!.classList.add("hidden");
    } else if (scrollPos === 0) {
      header!.classList.remove("hidden");
      header!.classList.add("flex");
    }
  });
</script>
