---
import Logo from "../../assets/images/logo.png";
import Link from "../General/Link.astro";
import Phone from "../../assets/images/phone.svg";
import MenuBtn from "./MenuBtn";
import clsx from "clsx";
---

<header
  class={clsx(
    "absolute top-0 flex flex-col justify-center items-center max-h-44 h-full w-full text-white duration-100"
  )}
>
  <div
    class="flex h-11 w-full items-center justify-center bg-primary-100 text-xs font-semibold uppercase text-white xl:hidden"
  >
    Book a Valuation
  </div>
  <div
    class="mx-auto my-auto flex w-full max-w-container-lg items-center justify-between text-xs font-semibold uppercase"
  >
    <a class="flex items-center" href="/">
      <img
        class="h-20 w-auto xl:h-[6.625rem]"
        src={Logo}
        alt="Jacobs Properties Logo"
      />
    </a>
    <div class="flex items-center gap-4 lg:gap-8">
      <nav class="hidden sm:block">
        <ul class="flex items-center gap-3 text-[10px] xl:gap-6 xl:text-xs">
          <li>
            <a class="rounded-lg p-2 duration-100 hover:bg-primary-100" href=""
              >Buyers</a
            >
          </li>
          <li>
            <a class="rounded-lg p-2 duration-100 hover:bg-primary-100" href=""
              >Sellers</a
            >
          </li>
          <li>
            <a class="rounded-lg p-2 duration-100 hover:bg-primary-100" href=""
              >Landlords</a
            >
          </li>
          <li>
            <a class="rounded-lg p-2 duration-100 hover:bg-primary-100" href=""
              >Tenants</a
            >
          </li>
        </ul>
      </nav>
      <div class="hidden items-center gap-3 xl:flex">
        <Link link="/" text="Property Search" type="transparent" size="lg" />
        <Link link="/" text="Book a valuation" type="secondary" size="lg" />
      </div>
      <div class="flex items-center gap-3">
        <img
          class="h-6 scale-x-[-1] fill-white text-white"
          src={Phone}
          alt="Mobile Phone"
        />
        <MenuBtn />
      </div>
    </div>
  </div>
</header>

<script>
  let header = document.querySelector("header");

  document.addEventListener("scroll", function () {
    if (!header) return;
    let scrollPos = window.pageYOffset;

    if (scrollPos > 100) {
      header.classList.remove("bg-transparent");
      header.classList.add("bg-white", "max-h-36");
    } else {
      header.classList.remove("bg-white");
      header.classList.add("bg-transparent");
    }
  });
</script>
