---
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";

export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="min-h-[100svh]">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @media only screen and (min-width: 1900px) {
    body,
    html {
      font-size: 0.85vw;
    }
  }

  .overflow-really-visible {
    overflow: visible !important;
  }

  @media only screen and (max-width: 768px) {
    .overflow-really-visible-mobile {
      overflow: visible !important;
    }
  }

  .swiper-same-height {
    height: auto !important;
  }

  .swiper-fit-content {
    flex-shrink: 100 !important;
    width: 100% !important;
  }

  @media only screen and (max-width: 1024px) {
    .lg-visible {
      display: none !important;
    }
  }

  @media only screen and (min-width: 1024px) {
    .lg-invisible {
      display: none !important;
    }
  }

  @font-face {
    font-family: "ProximaNova";
    src: url("/fonts/ProximaNova-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "ProximaNova";
    src: url("/fonts/ProximaNova-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "ProximaNova";
    src: url("/fonts/ProximaNova-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "ProximaNova";
    src: url("/fonts/ProximaNova-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "HarmoniaSans";
    src: url("/fonts/HarmoniaSansW1G-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
</style>
